.cart {
  --width: 20rem;
  --off-screen-x: calc(-1rem - var(--width));

  position: fixed;
  top: 0;
  bottom: 0;
  right: var(--off-screen-x);
  display: flex;
  flex-direction: column;
  width: var(--width);
  background-color: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
  border-left: 1px solid #e6e6e6;
  padding: 1rem;
  transition: transform cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.4s;

  &.isOpen {
    transform: translate(var(--off-screen-x), 0);
  }
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 2rem;
  color: #000;
  margin: 1rem;
  padding: 0;
}

.orderButton {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.itemName {
  font-weight: 700;
}

.subTotal {
  font-weight: 700;
}
