.header {
  grid-area: header;
  display: flex;
  align-items: center;
  padding: 1rem 3rem;
  border-bottom: 1px solid #eaeaea;
}

.link {
  text-decoration: none;
  margin-right: 1rem;
}

.logo {
  margin-right: 2rem;
}

.nav {
  flex: 1;
}

.bag {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  line-height: 0;
}

.quantityCircle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  color: white;
  font-size: 0.75rem;
  font-weight: 700;
  text-align: center;
  background-color: #8f00ee;
  bottom: -30%;
  right: -30%;
  animation: pop 0.3s ease-in-out;
}

@keyframes pop {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.15);
  }

  to {
    transform: scale(1);
  }
}
